################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/GeekShopping/.vs/GeekShopping/FileContentIndex
/backend/GeekShopping/.env
