################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/GeekShopping/.vs/GeekShopping/FileContentIndex
/backend/GeekShopping/.env
/backend/TecnoMundo/.vs/TecnoMundo/FileContentIndex
*.vsidx
**/appsettings*.json
secrets.json
**/bin/
**/obj/
**/publish/
**/out/
**/packages/
*.nupkg
.vs/
*.user
*.userosscache
*.suo
*.log
*.tmp
.vscode/
.idea/
*.pfx
*.key