<div class="container">
    <div class="container-checkout">
        <div class="container-purchase-amount">
            <div class="form-purchase-amount">
                <div class="title-form">
                    <h3>Payment Data</h3>
                </div>
                <form (ngSubmit)="closeOrder()" [formGroup]="finalizeOrderForm" #formDir="ngForm">

                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <input type="text" (keyup)="inptFirstname($event)" formControlName="firstName" placeholder="Enter your firstname" [ngStyle]="{'text-transform': 'uppercase'}">
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <input (input)="inptLastname($event)" type="text" formControlName="lastName" placeholder="Enter your lastname" [ngStyle]="{'text-transform': 'uppercase'}">
                    </div>
                    
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" formControlName="phone" placeholder="Enter your phone">
                    </div>
                    
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" formControlName="email" placeholder="Enter your e-mail">
                    </div>
                    
                    <div class="form-group">
                        <label for="cardNumber">Card number</label>
                        <input (input)="inptCardNumber($event)" type="text" formControlName="cardNumber" placeholder="Enter your card number">
                    </div>
                    
                    <div class="info-card">
                        <div class="form-group form-group-exp">
                            <label>Card expiration date</label>
                            <div class="date">
                                <input (input)="inptExpirationMonth($event)" type="text" formControlName="cardExpirationMonth" placeholder="02" [maxlength]="2">
                                <div class="barra"></div>
                                <input (input)="inptExpirationYear($event)" type="text" formControlName="cardExpirationYear" placeholder="30"  [maxlength]="2">
                            </div>
                        </div>

                        <div class="form-group form-group-cvv">
                            <label for="cvv">CVV</label>
                            <input (input)="inptCvv($event)" type="text" formControlName="cvv" placeholder="CVV Card" [maxlength]="3">
                        </div>
                    </div>

                    <div class="btn-finalize">
                        <button type="submit">Finalize Order</button>
                    </div>
                </form>
            </div>

            <div class="container-right">
                <div class="card">
                    <div class="intern">
                        <img class="aproximation" src="./assets/aprox.png" alt="aproximation">
                        <div class="card-number">
                            <div class="number-v1">
                                {{ cardNumber }}
                            </div>
                        </div>
                        <div class="card-holder">
                            <label>Holder</label>
                            <div class="name-v1">
                                {{ firstName }} {{ lastName }}
                            </div>
                        </div>
                        <div class="card-infos">
                            <div class="exp">
                                <label>valid-thru</label>
                                <div class="expiration-v1">
                                    {{ expirationMonth }} / {{ expirationYear }}
                                </div>
                            </div>
                            <div class="cvv">
                                <label>CVV</label>
                                <div class="cvv-v1">{{ cvv }}</div>
                            </div>
                        </div>
                        <div class="chip">
                            <img class="img-chip" src="./assets/chip.png" alt="chip">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cart-details">
            <h3>Order Sumary</h3>

            <div class="separator"></div>

            <div class="cart-details-info">
                <div class="info-content">
                    <p>Items:</p>
                    <span>{{ totalItems }}</span>
                </div>

                <div class="info-content">
                    <p>Total:</p>
                    <span>R$ {{ subTotal | number:'1.2-2':'pt-BR' }}</span>
                </div>

                <div class="info-content coupon">
                    <p>Discount applied:</p>
                    <span *ngIf="orderData.coupon else notCouponApplied">R$ {{ orderData.coupon.discountAmount | number:'1.2-2':'pt-BR' }}</span>
                    <ng-template #notCouponApplied>
                        <p>--</p>
                    </ng-template>
                </div>
            </div>

            <div class="separator"></div>

            <div class="total-order-content">
                <p>Total Order:</p>
                <span>R$ {{ subTotalWithDiscount | number:'1.2-2':'pt-BR' }}</span>
            </div>
        </div>
    </div>
</div>