.sub-header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 30px;
    height: 4em;
    width: 50%;
    background-color: rgb(226, 51, 86);
}

.links {
    display: flex;
    justify-content: center;
}

.links a {
    color: white;
    text-decoration: none;
    padding: 19px;
    font-size: 20px;
}