<div *ngIf="this.listOfProducts.length != 0 else productNotFound" class="content">
    <div *ngFor="let product of listOfProducts">
        <div class="product">
            <a routerLink="/product-details/{{product.id}}">
                <div class="img-product">
                    <img src="{{ product.imageUrl }}" alt="image-product">
                </div>
            </a>

            <div class="content-product">
                <a routerLink="/product-details/{{product.id}}">
                    <div class="content-name">
                        <p id="productName">{{ product.name }}</p>
                    </div>
                </a>

                <div class="divider">
                    <hr>
                </div>
    
                <div class="action">
                    <div class="price">
                        <span>R$ <span id="productPrice">{{ product.price | number:'1.2-2':'pt-BR' }}</span></span>
                    </div>
                    <app-add-to-cart class="btn-add-cart" [product]="product" [amount]="1"></app-add-to-cart>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #productNotFound>
    <div class="content-product-not-found">
        <div class="product-not-found">
            <div class="mensagens">
                <h1>Nenhum resultado para '<span>{{this.msgProductNotFound}}</span>'.</h1>
        
                <p>Verifique a ortografia, palavras chaves ou filtros aplicados.</p>
            </div>
        </div>
    </div>
</ng-template>