<header>
    <nav>
        <a id="logo" routerLink="">Tecno<span>Mundo</span></a>

        <div class="mobile-menu" (click)="showOrHideNavList()">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

        <ul class="nav-list" [ngStyle]="{'display': activeNavLis}" #navList>
            <li><a routerLink="/products" routerLinkActive="active-link">Products</a></li>

            <li *ngIf="!authService.loggedInUser else notLogged"><a routerLink="/register" routerLinkActive="active-link">Register</a></li>
            <li *ngIf="!authService.loggedInUser"><a routerLink="/login" routerLinkActive="active-link">Login</a></li>

            <ng-template #notLogged>
                <li *ngIf="authService.loggedInUser"><a routerLink="/orders" routerLinkActive="active-link">Orders</a></li>
                <li *ngIf="authService.loggedInUser"><a routerLink="/my-cart" routerLinkActive="active-link">Cart</a></li>
                <li *ngIf="authService.loggedInUser"><a routerLink="#" (click)="logout()">Logout</a></li>
            </ng-template>
        </ul>
    </nav>
</header>