<div class="content">
    <div class="container-register">
        <form (ngSubmit)="register()" [formGroup]="registerForm" #formDir="ngForm">
            <div class="title-form">
                <p>Registrar-se</p>
            </div>

            <div class="content-form-register">
                <div class="name-and-lastname">
                    <div class="form-group">
                        <label for="userName">Nome</label>
                        <input 
                        type="text"
                        formControlName="userName"
                        placeholder="Enter your name">
                    </div>
                    
                    <div class="form-group">
                        <label for="lastName">Sobrenome</label>
                        <input 
                        type="text"
                        formControlName="lastName"
                        placeholder="Enter your lastname">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input 
                    type="text"
                    formControlName="cpf"
                    (blur)="formatCpf($event)"
                    placeholder="Enter your CPF">
                </div>
                
                <div class="form-group">
                    <label for="phoneNumber">Telefone</label>
                    <input 
                    type="text"
                    formControlName="phoneNumber"
                    (blur)="formatPhone($event)"
                    placeholder="Enter your phone number">
                </div>
                
                <div class="form-group">
                    <label for="userEmail">Email</label>
                    <input 
                    type="email"
                    formControlName="userEmail"
                    placeholder="Enter your email">
                </div>
                
                <div class="form-group">
                    <label for="confirmEmail">Confirme o email</label>
                    <input 
                    type="email"
                    formControlName="confirmEmail"
                    (paste)="preventPaste($event)"
                    placeholder="Confirm email">
                </div>
                
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input 
                    type="password"
                    formControlName="password"
                    placeholder="Enter password">
                </div>

                <div *ngIf="this.isLogged" class="form-group role">
                    <label for="roleId">Perfil</label>
                    <select name="roleId" id="role">
                        <option selected value="Client">Client</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>

                <div class="form-btn">
                    <input type="submit" value="Registrar">
                </div>

                <!--ROLE ID-->
            </div>
        </form>
    </div>
</div>