.container-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: beige;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.content-loading {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-loading i {
    color: black;
    animation: is-rotating 1s infinite;
    font-size: 3em;
}

@keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
}