<div class="coupon">
    <div class="apply-coupon">
        <input #inputElement type="text" placeholder="Enter coupon" [disabled]="couponApplied$">
        <button (click)="applyCoupon(inputElement.value)" [disabled]="couponApplied$">Apply</button>
    </div>

    <div class="container-coupon" *ngIf="messageAttemptToApplyCoupon">
        <p id="msgInvalidCoupon">{{ messageAttemptToApplyCoupon }}</p>
    </div>
    
    <div class="container-coupon" *ngIf="couponApplied$">
        <div class="coupon-code">
            <button (click)="removeCoupon()">x</button>
            <p>{{ coupon.couponCode }}</p>
        </div>

        <div class="discount-amount">
            <p>R$ <span>{{ coupon.discountAmount| number:'1.2-2':'pt-BR' }}</span></p>
        </div>
    </div>
</div>