.coupon {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.apply-coupon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.apply-coupon input {
    text-transform: uppercase;
    border: none;
    height: 20px;
    width: 60%;
}
.apply-coupon button {
    color: rgb(231,231,231);
    border: none;
    background-color: crimson;
    width: 70px;
    height: 100%;
    font-size: 0.8rem;
}


.container-coupon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
    height: 30px;
}

.coupon-code {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60%;
    width: 60%;
}

.coupon-code button {
    display: flex;
    align-items: center;
    border: none;
    background-color: rgb(233, 152, 168);
}

.container-coupon p {
    font-size: 0.8rem;
    color: green;
}
.coupon-code p {
    font-family: 'Times New Roman', Times, serif;
}
.discount-amount p span {
    font-size: 1.0rem;
}


#msgInvalidCoupon {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}