.content-product-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    height: 60%;
}


.img-product {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 480px;
    height: 100%;
    overflow: hidden;
}
.img-product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.info-product {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    height: 97%;
}
.info-product p {
    color: rgb(231, 231, 231);
}


.name-product {
    border-bottom: 2px solid crimson;
    max-height: 32%;
}
#productName {
    word-spacing: 3px;
    line-height: 27px !important;
    font-size: 1.4rem;
}


#description {
    height: 100%;
    overflow: auto;
    padding: 10px;
}
#title-description {
    margin-left: 3px;
    margin-top: 5px;
    font-size: 1.1rem;
}


.container-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.action-product {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 92%;
    height: 4em;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 5px;
}


.price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.price #moeda {
    font-size: 0.8rem;
    color: green;
}
.price #val-price {
    color: rgb(231, 231, 231);
    font-size: 1.3rem;
}


.btns-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 40%;
    margin-right: 10px;
}

#add-cart {
    width: 50%;
    height: 50%;
}
#buy-now {
    height: 50%;
    width: 50%;
    background-color: rgb(50,205,50);
    color: rgb(54,54,54);
    border: 2px solid rgb(50,205,50);
    border-radius: 8px;
}