<div class="content-product-detail">
    <div class="img-product">
        <img src="{{ product.imageUrl }}" alt="nome">
    </div>

    <div class="info-product">
        <div class="name-product">
            <p id="productName">{{ product.name }}</p>
        </div>

        <div class="description-product">
            <p id="title-description">Sobre este item</p>
            <p id="description">{{ product.description }}</p>
        </div>
    </div>

    <div class="action-product">
        <div class="price">
            <span id="moeda">R$</span>
            <span id="val-price">{{ product.price.toFixed(2) }}</span>
        </div>

        <div class="btns-actions">
            <button id="add-cart" type="submit">Add to Cart</button>
            <button id="buy-now" type="submit">Buy now</button>
        </div>
    </div>
</div>