.container-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container-image-product {
    width: 40%;
    height: 500px;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
}

.content-image {
    width: 100%;
    height: 100%;
}
.content-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container-more-about-the-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    max-height: 85%;
    padding: 15px;
    color: rgb(231, 231, 231);
    background-color: rgb(41, 41, 41);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}


.info-name {
    height: 100%;
    max-height: 10%;
}
.info-name p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info-details {
    margin-bottom: 5%;
    max-height: 40%;
}
.description-product {
    height: 100%;
    overflow: auto;
}
.description-product p {
    font-size: 0.96rem;
    font-family: Arial, Helvetica, sans-serif;
}

#title-description, .title-installments span {
    font-size: 1.0rem;
    color: crimson;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}


.action-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    height: 13%;
}

.btns-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 50%;
}
#buy-now {
    height: 30px;
    background-color: rgb(50,205,50);
    color: rgb(54,54,54);
    border: 2px solid rgb(50,205,50);
    border-radius: 8px;
}
#buy-now, #add-cart {
    width: 50%;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.container-moeda {
    display: flex;
    padding-right: 2%;
}
#moeda {
    font-size: 0.99rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#val-price {
    color: rgb(0, 172, 0);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
}

.container-installments {
    max-height: 27%;
}

.title-installments {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 37%;
}
.title-installments span {
    cursor: pointer;
    text-decoration: underline;
}
.title-installments button {
    cursor: pointer;
    border: none;
    background: none;
    color: white;
}

.content-installments {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 100%;
    background-color: rgb(46, 46, 46);
    padding: 10px;
    margin-top: 1%;
}


@media only screen and (max-width: 768px) {
    .container-details {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .container-image-product, .container-more-about-the-product {
        margin-bottom: 2%;
        width: 70%;
    }

    .info-name {
        width: 100%;
        height: auto;
        max-height: 50%;
    }

    .price {
        display: flex;
        flex-direction: row;
        height: auto;
        width: auto;
    }

    .installment {
        padding: 5px;
    }
}