<div class="carousel-container">
    <img *ngFor="let image of images; let i=index"
        [src]="image.src" 
        [alt]="image.alt"
        [ngClass]="{'image-active': selectedIndex === i}"
        class="fade">

    <div class="carousel-img-title">
        <span>{{ images[selectedIndex].title }}</span>
    </div>

    <div class="carousel-dot-container">
        <span *ngFor="let dot of images; let i=index"
            class="dot"
            [ngClass]="{'active': selectedIndex === i}"
            (click)="selectedImage(i)">
        </span>
    </div>

    <button class="btn-carousel btn-prev">
        <i class="fas fa-arrow-circle-left icon-carousel icon-prev"
            (click)="onPrevClick()"
        >

        </i>
    </button>

    <button class="btn-carousel btn-next">
        <i class="fas fa-arrow-circle-right icon-carousel icon-next"
            (click)="onNextClick()"
        >

        </i>
    </button>
</div>