<div class="search-for-product">
    <form class="search-by-name" (ngSubmit)="filterProductsByName(inputElement.value)">
        <input #inputElement type="text" id="search-name" placeholder="Search product">
        <button>
            <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>
        </button>
    </form>

    <div class="search-by-category">
        <select name="category" id="category">
            <option value="0" selected disabled>Filter by category</option>
            <option *ngFor="let category of listOfCategories"
                [value]="category.id"
                (click)="filterProductsByCategory(category.id)"
            >{{ category.name }}</option>
        </select>
    </div>
</div>
<div *ngIf="this.listOfProducts.length != 0 else productNotFound" class="content">
    <div *ngFor="let product of listOfProducts">
        <div class="product">
            <a href="/product-details/{{product.id}}">
                <div class="img-product">
                    <img src="{{ product.imageUrl }}" alt="nome">
                </div>
            </a>

            <div class="content-product">
                <a href="/product-details/{{product.id}}">
                    <div class="content-name">
                        <p id="productName">{{ product.name }}</p>
                    </div>
                </a>
    
                <div class="action">
                    <div class="price">
                        <p>R$ <span id="productPrice">{{ product.price.toFixed(2) }}</span></p>
                    </div>
                    <app-add-to-cart class="btn-add-cart" [product]="product" [amount]="1"></app-add-to-cart>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #productNotFound>
    <div class="content-product-not-found">
        <div class="product-not-found">
            <div class="mensagens">
                <h1>Nenhum resultado para '<span>{{this.msgProductNotFound}}</span>'.</h1>
        
                <p>Verifique a ortografia ou use palavras chaves.</p>
            </div>
        </div>
    </div>
</ng-template>