<div class="container-search-by-name">
    <form class="search-by-name" (ngSubmit)="filter(inputElement.value)">
        <input #inputElement type="text" id="search-name" placeholder="Search product">
        <button>
            <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>
        </button>
    </form>
</div>


<div class="content">
    <div class="advanced-filter">
        <div class="search-by-category">
            <div class="title">
                <h3>By Category</h3>
            </div>

            <div class="options-category">
                <select name="category" id="category">
                    <option value="0" selected disabled>Filter by category</option>
                    <option *ngFor="let category of listOfCategory"
                        [value]="category.id"
                        (click)="filterCategory(category.id)"
                    >{{ category.name }}</option>
                </select>
            </div>
        </div>

        <div class="price-range">
            <div class="title">
                <h3>Price Range</h3>
            </div>

            <div class="values">
                <div class="field">
                    <span>Min</span>
                    <span id="value">{{ minPrice }}</span>
                </div> 

                <div class="field">
                    <span>Max</span>
                    <span id="value">{{ maxPrice }}</span>
                </div> 
            </div>

            <div class="slider">
                <mat-slider min="1" max="15000">
                    <input matSliderStartThumb [(ngModel)]="minPrice">
                    <input matSliderEndThumb [(ngModel)]="maxPrice">
                </mat-slider>
            </div>
        </div>

        <div class="search">
            <button (click)="filter(inputElement.value)">
                <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>
            </button>
        </div>
    </div>

    <div class="content-product">
        <app-product-template></app-product-template>
    </div>
</div>