.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    background-color: rgb(231, 231, 231);
    width: 30em;
    height: 30em;
}


.content-form-login {
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title-form {
    display: flex;
    justify-content: center;
    height: 5em;
    background-color: rgb(226, 51, 86);
}
.title-form p {
    height: 100%;
    align-content: center;
    font-size: 2.0rem;
    font-family: fantasy;
}


.form-group {
    width: 70%;
    padding: 15px;
    margin-top: 30px;
}
.form-group label {
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
}
.form-group input {
    border: none;
    border-bottom: 1px solid rgb(56, 56, 56);
    background-color: rgb(231, 231, 231);
    margin-top: 10px;
    width: 100%;
    height: 30px;
}
.form-group input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.form-group input::placeholder {
    font-size: 0.8rem;
    font-family: monospace;
}


.form-btn {
    width: 70%;
    height: 10em;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
}
.form-btn input {
    border: none;
    border-radius: 20px;
    background: linear-gradient(
        to right,
        rgb(226, 51, 86),
        rgb(255, 102, 128)
    );
    width: 100%;
    height: 4em;
}
.form-btn input:hover {
    transform: scale(1.1);
}