<header>
    <a id="header-title" routerLink="#">Tecno<span>Mundo</span></a>

    <div class="container-funcs">        
        <div *ngIf="!authService.loggedInUser else notLogged">
            <a routerLink="#">Home</a>
            <a routerLink="/products">Products</a>
            <a routerLink="/register">Register</a>
            <a routerLink="/login">Login</a>
        </div>

        <ng-template #notLogged>
            <a routerLink="#">Home</a>
            <a routerLink="/products">Products</a>
            <a routerLink="#">Orders</a>
            <a routerLink="/my-cart">Cart</a>
            <a routerLink="#" (click)="logout()">Logout</a>
        </ng-template>
    </div>
</header>