header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: rgb(231, 231, 231);
    height: 6em;
}

header #header-title {
    color: rgb(31, 31, 31);
    font-weight: bold;
    text-decoration: none;
    margin-left: 6em;
    font-size: 35px;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.7);
}
header #header-title span {
    color: crimson;
}


.display-name {
    display: flex;
    align-self: center;
    height: 100%;
}
.display-name h5 {
    margin-top: 10px;
    font-size: 1.0rem;
}
.display-name h5 strong {
    color: rgb(37, 37, 37);
    font-size: 1.2rem;
}


.container-funcs {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 70px;
}
.container-funcs a {
    gap: 30px;
    text-decoration: none;
    color: rgb(31, 31, 31);
    padding: 20px;
}
.container-funcs a:hover {
    background-color: crimson;
    color: rgb(231, 231, 231);
}

.active-link {
    color: white;
    border-bottom: 5px solid crimson;
}