<div class="container" *ngIf="!cartIsEmpty">
    <div class="cart-content">
        <div class="container-info-cart">
            <h3>Shopping Cart</h3>
            <div class="delete-all-items">
                <button (click)="clearCart()" id="delete-all-items">Delete all items</button>
            </div>
        </div>
        <div class="info-cart" *ngFor="let cartDetail of cart.cartDetails">
            <div class="info-content-product">
                <div class="image-product">
                    <img src="{{ cartDetail.product.imageUrl }}" alt="teste">
                </div>
    
                <div class="infos-product">
                    <p id="productName">{{ cartDetail.product.name }}</p>
                    <p id="category">Category: <span>{{ cartDetail.product.category.name }}</span></p>

                    <div class="actions-cart">
                        <div class="amount">
                            <label id="amount" for="Amount">Amount:</label>
                            <select name="amount" [(ngModel)]="qtdUpdate">
                                <option value="0" selected disabled>QTD {{ cartDetail.count }}</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="separator"></div>
                        <a id="details" routerLink="/product-details/{{ cartDetail.productId }}">Details</a>
                        <div class="separator"></div>
                        <div class="action-btn">
                            <button (click)="updateCart(cartDetail)" id="save">Save</button>
                        </div>
                        <div class="separator"></div>
                        <div class="action-btn">
                            <button (click)="deleteCart(cartDetail.id ?? 0)" id="delete">Delete</button>
                        </div>
                        <div class="separator"></div>
                    </div>
                </div>
    
                <div class="price">
                    <p>R$ <span>{{ cartDetail.product.price | number:'1.2-2':'pt-BR' }}</span></p>
                </div>
            </div>
        </div>
        <div class="purchase-amount-container">
            <div class="purchase-amount-content">
                <div class="title-subtotal">
                    <p id="title-subtotal">
                        Subtotal ({{ cart.cartDetails.length }} product <span id="moreThenOne" *ngIf="cart.cartDetails.length > 1 else oneProduct">s</span> 
                        <ng-template #oneProduct>
                            <span></span>
                        </ng-template>
                        ):
                    </p>
                </div>

                <div class="subtotal">
                    <p id="subtotal">R$ <span>{{ subTotal | number:'1.2-2':'pt-BR' }}</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-subtotal-selected-products">
        <div class="msg-shipping">
            <mat-icon aria-hidden="false" aria-label="Package" fontIcon="local_shipping"></mat-icon>
            <p>Your order has <span>FREE shipping</span>.</p>
        </div>

        <div class="container-coupon">
            <app-apply-coupon [cart]="cart" (couponApplied)="onCouponApplied($event)"></app-apply-coupon>
        </div>

        <div class="info-subtotal">
            <p id="titleContainerSubtotal">
                Subtotal ({{ cart.cartDetails.length }} product <span id="moreThenOneContainer" *ngIf="cart.cartDetails.length > 1 else oneProduct">s</span> 
                <ng-template #oneProduct>
                    <span></span>
                </ng-template>
                ):
            </p>
            <div class="sub-total">
                <p *ngIf="!cart.cartHeader.couponCode else notCouponApplied"> 
                    <span id="moeda">R$</span> <span id="subtotalContainer">{{ subTotal | number:'1.2-2':'pt-BR' }}</span> 
                </p>

                <ng-template #notCouponApplied>
                    <p [ngStyle]="{'text-decoration': 'line-through', 'text-decoration-color': 'red'}"> 
                        <span id="moeda">R$</span> <span id="subtotalContainer">{{ subTotal | number:'1.2-2':'pt-BR' }}</span> 
                    </p>
                </ng-template>

                <div class="discount" *ngIf="cart.cartHeader.couponCode">
                    <p><span id="moeda">R$</span> <span id="subTotalDiscount">{{ subtotalWithDiscountApplied | number:'1.2-2':'pt-BR' }}</span></p>
                </div>
            </div>
        </div>

        <div class="container-checkout">
            <button (click)="finalizeOrder()">Finalize order</button>
        </div>
    </div>
</div>

<div class="container-empty" *ngIf="cartIsEmpty">
    <div class="empty-cart">
        <h2>Your shopping cart is empty.</h2>
        <p>Discover our products.</p>
        <a routerLink="/products">Products</a>
    </div>
</div>