<div class="container">
    <div class="cart-content">
        <h3>Shopping Cart</h3>
        <div class="info-cart" *ngFor="let cartDetail of cart.cartDetails">
            <div class="info-content-product">
                <div class="image-product">
                    <img src="{{ cartDetail.product.imageUrl }}" alt="teste">
                </div>
    
                <div class="infos-product">
                    <p id="productName">{{ cartDetail.product.name }}</p>
                    <p id="category">Category: <span>{{ cartDetail.product.category.name }}</span></p>
                    <p id="amount">Amount: <span>{{ cartDetail.count }}</span></p>

                    <div class="actions-cart">
                        <a id="details" routerLink="/product-details/{{ cartDetail.productId }}">Details</a>
                        <div class="separator"></div>
                        <div class="action-btn">
                            <button (click)="updateCart(cartDetail)" id="save">Save</button>
                        </div>
                        <div class="separator"></div>
                        <div class="action-btn">
                            <button (click)="deleteCart(cartDetail.id ?? 0)" id="delete">Delete</button>
                        </div>
                    </div>
                </div>
    
                <div class="price">
                    <p>R$ <span>{{ cartDetail.product.price | number:'1.2-2':'pt-BR' }}</span></p>
                </div>
            </div>
        </div>
        <div class="purchase-amount-container">
            <div class="purchase-amount-content">
                <p id="title-subtotal">Subtotal ({{ cart.cartDetails.length }} products):</p>
                <p id="subtotal">R$ <span>{{ cart.cartDetails[0].product.price | number:'1.2-2':'pt-BR' }}</span></p>
            </div>
        </div>
    </div>
</div>